<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento de Locadores</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container" th:object="${locador}">
    <h1>Sistema de Gerenciamento de Locadores</h1>
    <hr>
    <h2>Detalhes do Locador</h2>
    <hr>
    <h3>Nome</h3>
    <p th:text="*{name}">Nome</p>
    <hr>
    <h3>CPF</h3>
    <p th:text="*{cpf}">CPF</p>
    <hr>
    <h3>E-mail</h3>
    <p th:text="*{email}">E-mail</p>
    <hr>
    <h3>Telefone</h3>
    <p th:text="*{telefone}">Telefone</p>
    <hr>
    <h3>Distribuidora</h3>
    <p th:text="*{distribuidora}">Distribuidora</p>
    <hr>
    <h3>Energia Gerada (em kW)</h3>
    <p th:text="*{energiaGerada}">Energia Gerada</p>
    <hr>
    <h3>Energia Disponível (em kW)</h3>
    <p th:text="*{energiaDisponivel}">Energia Disponível</p>
    <hr>
    <a th:href="@{/locador/showFormForUpdate/{id}(id=${locador.id})}" class="btn btn-primary">Atualizar</a>
    <a th:href="@{/locador/delete/{id}(id=${locador.id})}" class="btn btn-danger">Deletar</a>
    <hr>
    <a th:href="@{/locador/viewAll}" class="btn btn-primary">Voltar para página de locadores</a>
    <hr>
    <a th:href="@{/}" class="btn btn-primary btn-mb-3">Voltar para página inicial</a>
</div>
</body>
</html>