<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento de Contratos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Sistema de Gerenciamento de Contratos</h1>
    <hr>
    <h2>Atualizar Contrato</h2>
    <form action="#" th:action="@{/contrato/save}" th:object="${contrato}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{locador}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{locatario}" class="form-control mb-4 col-4">
        <input type="number" th:field="*{duracaoContrato}" class="form-control mb-4 col-4">
        <input type="number" th:field="*{preco}" class="form-control mb-4 col-4">
        <input type="number" th:field="*{quantidadeEnergia}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Atualizar</button>
    </form>
    <hr>
    <a th:href="@{/contrato/viewAll}">Voltar para a página de contratos</a>
</div>
</body>
</html>